doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property="og:title", content=properties.title)
    meta(property="og:description", content=properties.description)

    link(rel='stylesheet', href='style/index.css')
      
    style( type='text/css').
      @import url('http://fonts.googleapis.com/css?family=Geo');
      @font-face { font-family: 'pixelSmall'; src: url('images/kenpixel_mini_square.woff') format("truetype"); /* Pretty Modern Browsers */ };
      @font-face { font-family: 'pixelVector'; src: url('images/kenvector_future_thin.woff') format("truetype"); /* Pretty Modern Browsers */ };
 

    title=properties.title

    script(src="js/phaser.js")
    script(src="js/app.min.js")

    include analytics.jade

  body
    p.hiddenText .
    p.hiddenText2 .
    p.hiddenText3 .

    if (!productionBuild)
      script.
        document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');

