doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property="og:title", content=properties.title)
    meta(property="og:description", content=properties.description)

    link(rel='stylesheet', href='style/index.css')
      
    style( type='text/css').
      @import url('http://fonts.googleapis.com/css?family=Geo');
      @font-face { font-family: 'pixel'; src: url('images/kenpixel_mini_square.woff') format("truetype"); /* Pretty Modern Browsers */ }
      @font-face { font-family: 'pixelVector'; src: url('images/kenvector_future_thin.woff') format("truetype"); /* Pretty Modern Browsers */ }
      *{
        margin:0;
        padding:0;
      }
      .hiddenText{
        font-family: pixel; 
        visibility: hidden; 
        height: 0;
      }
      .hiddenText2{
        font-family: pixelVector; 
        visibility: hidden; 
        height: 0;
      }
    title=properties.title

    script(src="js/phaser.js")
    script(src="js/app.min.js")

    include analytics.jade

  body
    p.hiddenText .
    p.hiddenText2 .
    #game


    if (!productionBuild)
      script.
        document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');
